

	<page-title ng-if="layoutOptions.pageTitles" title="Native Elements" description="Plain text boxes, select dropdowns and other basic form elements"></page-title>


<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Default form inputs</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Input text field</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-1" placeholder="Placeholder">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Password</label>

						<div class="col-sm-10">
							<input type="password" class="form-control" id="field-2" placeholder="Placeholder (Password)">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Disabled input</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Placeholder" disabled>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-3">Email field</label>

						<div class="col-sm-10">
							<input type="email" class="form-control" id="field-3" placeholder="Enter your email&hellip;">
							<p class="help-block">Example block-level help text here. Emails inputs are validated on native HTML5 forms.</p>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-4">File Field</label>

						<div class="col-sm-10">
							<input type="file" class="form-control" id="field-4">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">Text area</label>

						<div class="col-sm-10">
							<textarea class="form-control" cols="5" id="field-5"></textarea>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">Auto grow</label>

						<div class="col-sm-10">
							<textarea class="form-control autogrow" cols="5" id="field-5" placeholder="I will grow as you enter new lines."></textarea>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group has-error">
						<label class="col-sm-2 control-label" for="field-6">Error field</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-6" placeholder="Hello I am an error">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group has-warning">
						<label class="col-sm-2 control-label" for="field-7">Warning field</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-7" placeholder="Hello I am a warning">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group has-success">
						<label class="col-sm-2 control-label" for="field-8">Success field</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-8" placeholder="Hello I am a success message">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group has-info">
						<label class="col-sm-2 control-label" for="field-9">Info field</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-9" placeholder="Hello I am an info message">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-11">Input size</label>

						<div class="col-sm-10">
							<input type="text" class="form-control input-sm" id="field-13" placeholder=".input-sm">
							<br />
							<input type="text" class="form-control" id="field-14" placeholder="Normal input">
							<br />
							<input type="text" class="form-control input-lg" id="field-15" placeholder=".input-lg">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-11">Input text position</label>

						<div class="col-sm-10">
							<input type="text" class="form-control text-center" id="field-11" placeholder="Placeholder">
							<br />
							<input type="text" class="form-control text-right" id="field-12" placeholder="Placeholder">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Select list</label>

						<div class="col-sm-10">
							<select class="form-control">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								<option>Option 4</option>
								<option>Option 5</option>
							</select>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Checkboxes</label>

						<div class="col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox">
									Default checkbox
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox">
									Another one
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" disabled>
									Disabled option
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" checked disabled>
									Checked and disabled option
								</label>
							</div>

							<br />
							<strong>Inline checkboxes</strong>

							<p>
								<label class="checkbox-inline">
									<input type="checkbox">
									Inline checkbox 1
								</label>
								<label class="checkbox-inline">
									<input type="checkbox">
									Inline checkbox 2
								</label>
								<label class="checkbox-inline">
									<input type="checkbox">
									Inline checkbox 3
								</label>
							</p>

						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Radio buttons</label>

						<div class="col-sm-10">
							<div class="radio">
								<label>
									<input type="radio" name="radio-1" checked>
									Default radio
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radio-1">
									Another one
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" disabled>
									Disabled option
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" checked disabled>
									Checked and disabled option
								</label>
							</div>

							<br />
							<strong>Inline radio buttons</strong>

							<p>
								<label class="radio-inline">
									<input type="radio" name="radio-2" checked>
									Inline radio button 1
								</label>
								<label class="radio-inline">
									<input type="radio" name="radio-2">
									Inline radio button 2
								</label>
								<label class="radio-inline">
									<input type="radio" name="radio-2">
									Inline radio button 3
								</label>
							</p>

						</div>
					</div>


				</form>

			</div>
		</div>

	</div>
</div>



<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Replaced radio and checkboxes</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal">

					<div class="form-group">
						<label class="col-sm-2 control-label">Checkboxes</label>

						<div class="col-sm-10">
							<div class="form-block">
								<label>
									<input type="checkbox" class="cbr">
									Default checkbox
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr">
									Another one
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr" disabled>
									Disabled option
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr" checked disabled>
									Checked and disabled option
								</label>
							</div>

							<br />
							<strong>Inline checkboxes</strong>

							<p>
								<label class="cbr-inline">
									<input type="checkbox" class="cbr">
									Inline checkbox 1
								</label>
								<label class="cbr-inline">
									<input type="checkbox" class="cbr">
									Inline checkbox 2
								</label>
								<label class="cbr-inline">
									<input type="checkbox" class="cbr">
									Inline checkbox 3
								</label>
							</p>

						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Radio buttons</label>

						<div class="col-sm-10">

							<div class="form-block">
								<label>
									<input type="radio" name="radio-1" class="cbr" checked>
									Default radio
								</label>
								<br />
								<label>
									<input type="radio" name="radio-1" class="cbr">
									Another one
								</label>
								<br />
								<label>
									<input type="radio" class="cbr" disabled>
									Disabled option
								</label>
								<br />
								<label>
									<input type="radio" class="cbr" checked disabled>
									Checked and disabled option
								</label>
							</div>

							<br />
							<strong>Inline radio buttons</strong>

							<p>
								<label class="cbr-inline">
									<input type="radio" name="radio-2" class="cbr" checked>
									Inline radio button 1
								</label>
								<label class="cbr-inline">
									<input type="radio" name="radio-2" class="cbr">
									Inline radio button 2
								</label>
								<label class="cbr-inline">
									<input type="radio" name="radio-2" class="cbr">
									Inline radio button 3
								</label>
							</p>

						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Checkbox styles</label>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="checkbox" class="cbr">
									Default style
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-primary">
									Primary color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-secondary">
									Secondary color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-red">
									Red color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-turquoise">
									Turquoise color
								</label>
							</div>

						</div>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="checkbox" class="cbr cbr-blue">
									Blue color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-info">
									Info color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-warning">
									Warning color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-danger">
									Danger color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-orange">
									Orange color
								</label>
							</div>

						</div>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="checkbox" class="cbr cbr-success">
									Success color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-purple">
									Purple color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-gray">
									Gray color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-pink">
									Pink color
								</label>
								<br />
								<label>
									<input type="checkbox" class="cbr cbr-yellow">
									Yellow color
								</label>
							</div>

						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Radio styles</label>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="radio" name="radio-3"class="cbr">
									Default style
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-primary">
									Primary color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-secondary">
									Secondary color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-red">
									Red color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3" class="cbr cbr-turquoise">
									Turquoise color
								</label>
							</div>

						</div>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-blue">
									Blue color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-info">
									Info color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-warning">
									Warning color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-danger">
									Danger color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3" class="cbr cbr-orange">
									Orange color
								</label>
							</div>

						</div>

						<div class="col-sm-3">

							<div class="form-block">
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-success">
									Success color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-purple">
									Purple color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3"class="cbr cbr-gray">
									Gray color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3" class="cbr cbr-yellow">
									Yellow color
								</label>
								<br />
								<label>
									<input type="radio" name="radio-3" class="cbr cbr-pink">
									Pink color
								</label>
							</div>

						</div>
					</div>

				</form>

			</div>
		</div>

	</div>
</div>



<div class="row">
	<div class="col-sm-6">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">iSwitch Checkbox Replacement</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal">

					<div class="form-group">
						<label class="col-sm-3 control-label">Colors</label>

						<div class="col-sm-9">
							<div class="form-block">
								<input type="checkbox" checked class="iswitch">
								<input type="checkbox" checked class="iswitch iswitch-primary">
								<input type="checkbox" checked class="iswitch iswitch-secondary">
								<input type="checkbox" checked class="iswitch iswitch-red">
								<input type="checkbox" checked class="iswitch iswitch-blue">
								<input type="checkbox" checked class="iswitch iswitch-purple">
								<br />
								<input type="checkbox" class="iswitch iswitch-warning">
								<input type="checkbox" class="iswitch iswitch-danger">
								<input type="checkbox" class="iswitch iswitch-info">
								<input type="checkbox" class="iswitch iswitch-success">
								<input type="checkbox" class="iswitch iswitch-gray">
								<input type="checkbox" class="iswitch iswitch-orange">
								<br />
								<input type="checkbox" class="iswitch iswitch-pink">
								<input type="checkbox" class="iswitch iswitch-yellow">
								<input type="checkbox" class="iswitch iswitch-turquoise">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Sizes</label>

						<div class="col-sm-9">
							<div class="form-block">
								<input type="checkbox" class="iswitch iswitch-secondary">
							</div>

							<div class="form-block">
								<input type="checkbox" checked class="iswitch-lg iswitch-info">
							</div>

							<div class="form-block">
								<input type="checkbox" class="iswitch-xlg iswitch-red">
							</div>
						</div>
					</div>

				</form>

			</div>
		</div>

	</div>
	<div class="col-sm-6">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Vertical Form Placement</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form">

					<div class="form-group">
						<label for="email-1">Email address:</label>
						<input type="email" class="form-control" id="email-1" placeholder="Enter your email&hellip;">
					</div>

					<div class="form-group">
						<label for="password-1">Password:</label>
						<input type="password" class="form-control" id="password-1" placeholder="Enter your password">
					</div>

					<div class="form-group">
						<label>
							<input type="checkbox" class="cbr" checked>
							Remember me next time
						</label>
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-gray btn-single">Sign in</button>
						<button type="button" class="btn btn-info btn-single pull-right">Register now</button>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Inline Form</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-inline">

					<div class="form-group">
						<input type="text" class="form-control" size="25" placeholder="Username" />
					</div>

					<div class="form-group">
						<input type="password" class="form-control" size="25" placeholder="Password" />
					</div>

					<div class="form-group">
						<button class="btn btn-secondary btn-single">Sign in</button>
					</div>

					<div class="form-group">
						<label class="cbr-inline">
							<input type="checkbox" class="cbr" checked>
							Remember me
						</label>
					</div>

					<div class="form-group pull-right">
						<button class="btn btn-white btn-single">Create new account</button>
					</div>

				</form>

			</div>
		</div>

	</div>
</div>



<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Input groups with addons</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal">

					<div class="form-group">
						<label class="col-sm-2 control-label">Addon on the left</label>

						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<input type="text" class="form-control" placeholder="Username">
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Addon on the right</label>

						<div class="col-sm-10">
							<div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Both addons</label>

						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Addon with icon</label>

						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="linecons-mail"></i>
								</span>
								<input type="email" class="form-control" placeholder="Enter your email">
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Minimal type &amp; sizes</label>

						<div class="col-sm-10">
							<div class="input-group input-group-sm input-group-minimal">
								<span class="input-group-addon">
									<i class="linecons-location"></i>
								</span>
								<input type="email" class="form-control" placeholder="Current city">
							</div>
							<br />
							<div class="input-group input-group-minimal">
								<input type="email" class="form-control" placeholder="Search for something&hellip;">
								<span class="input-group-addon">
									<i class="linecons-search"></i>
								</span>
							</div>
							<br />
							<div class="input-group input-group-lg input-group-minimal">
								<span class="input-group-addon">
									<i class="linecons-pencil"></i>
								</span>
								<input type="email" class="form-control no-right-border" placeholder="Chat message">
								<span class="input-group-addon">
									<i class="linecons-paper-plane"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Button assigned</label>

						<div class="col-sm-10">

							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-info" type="button">Go!</button>
								</span>

								<input type="text" class="form-control no-left-border form-focus-info">
							</div>

							<br />

							<div class="input-group">
								<input type="text" class="form-control no-right-border form-focus-purple">

								<span class="input-group-btn">
									<button class="btn btn-purple" type="button">Submit</button>
								</span>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">Check validation</button>
								</span>

								<input type="email" class="form-control no-left-border no-right-border form-focus-warning">

								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">Register Email</button>
								</span>
							</div>

						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Dropdown addon</label>

						<div class="col-sm-10">

							<div class="input-group">
								<span class="input-group-btn" dropdown>
									<button type="button" class="btn btn-red dropdown-toggle" dropdown-toggle>
										Action <span class="caret"></span>
									</button>

									<ul class="dropdown-menu dropdown-red no-spacing" dropdown-menu>
										<li><a href="">Action</a></li>
										<li><a href="">Another action</a></li>
										<li><a href="">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="">Separated link</a></li>
									</ul>
								</span>

								<input type="text" class="form-control no-left-border form-focus-red">
							</div>

							<br />

							<div class="input-group">
								<input type="text" class="form-control no-right-border form-focus-info">

								<span class="input-group-btn" dropdown>
									<button type="button" class="btn btn-info">Action</button>
									<button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
										<i class="fa-info"></i>
									</button>

									<ul class="dropdown-menu dropdown" dropdown-menu>
										<li><a href="">Action</a></li>
										<li><a href="">Another action</a></li>
										<li><a href="">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="">Separated link</a></li>
									</ul>
								</span>
							</div>

						</div>
					</div>

				</form>

			</div>
		</div>

	</div>
</div>



<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Input Grid</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">

				<div class="row col-margin">
					<div class="col-xs-12">
						<input type="text" class="form-control" placeholder="xs-12" />
					</div>

					<div class="col-xs-6">
						<input type="text" class="form-control" placeholder=".col-xs-6" />
					</div>

					<div class="col-xs-6">
						<input type="text" class="form-control" placeholder=".col-xs-6" />
					</div>

					<div class="col-xs-3">
						<input type="text" class="form-control" placeholder=".col-xs-3" />
					</div>

					<div class="col-xs-3">
						<input type="text" class="form-control" placeholder=".col-xs-3" />
					</div>

					<div class="col-xs-3">
						<input type="text" class="form-control" placeholder=".col-xs-3" />
					</div>

					<div class="col-xs-3">
						<input type="text" class="form-control" placeholder=".col-xs-3" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder=".col-xs-2" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>

					<div class="col-xs-1">
						<input type="text" class="form-control" placeholder=".xs-1" />
					</div>
				</div>

			</div>
		</div>

	</div>
</div>