﻿@inherits MMP.Application.Mvc.WebPage

<!DOCTYPE html>
<html lang="en" ng-app="xenon-app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>[Page Title]</title>
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link href="~/template/resources/thirdparty/linecons/css/linecons.css" rel="StyleSheet" type="text/css" />
  <link href="~/template/resources/thirdparty/fontawesome/css/font-awesome.min.css" rel="StyleSheet" type="text/css" />
  <link href="~/template/resources/thirdparty/bootstrap-template/bootstrap.min.css" rel="StyleSheet" type="text/css" />
  <link href="~/template/resources/css/template-core.css" rel="StyleSheet" type="text/css" />
  <link href="~/template/resources/css/template-forms.css" rel="StyleSheet" type="text/css" />
  <link href="~/template/resources/css/template-components.css" rel="StyleSheet" type="text/css" />
  <!-- <link href="~/template/resources/css/template-skins.css" rel="StyleSheet" type="text/css" /> -->

  <script src="~/template/resources/thirdparty/jquery/js/jquery-1.11.3.min.js"></script>
  <script>
    var applicationPathHelper =
    {
      TEMPLATE_TEMPLATES_PATH: "@Url.Content("~/template/resources/templates")",
      TEMPLATE_RESOURCES_PATH: '@Url.Content("~/template/resources")',
      APPLICATION_TEMPLATES_PATH: "@Url.Content("~/resources/templates")",
      APPLICATION_RESOURCES_PATH: '@Url.Content("~/resources")',
      MVC_TEMPLATES_PATH: "@Url.Content("~/")",

      templateTemplatePath: function (templateName)
      {
        return this.TEMPLATE_TEMPLATES_PATH + '/' + templateName + '.html';
      },
      templateResourcePath: function (filePath)
      {
        return this.TEMPLATE_RESOURCES_PATH + '/' + filePath;
      },
      applicationTemplatePath: function (templateName)
      {
        return this.APPLICATION_TEMPLATES_PATH + '/' + templateName + '.html';
      },
      mvcTemplatePath: function (templatePath)
      {
        return this.MVC_TEMPLATES_PATH + templatePath;
      },
      applicationResourcePath: function (filePath)
      {
        return this.APPLICATION_RESOURCES_PATH + '/' + filePath;
      }
    };
  </script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="page-body" ng-controller="MainCtrl" ng-class="{'settings-pane-open': layoutOptions.settingsPane.isOpen, 'chat-open': layoutOptions.chat.isOpen, 'login-page': isLoginPage && isMainPage == false, 'login-light': isLightLoginPage && isMainPage == false, 'lockscreen-page': isLockscreenPage && isMainPage == false, 'right-sidebar': layoutOptions.sidebar.isRight, 'boxed-container': layoutOptions.container.isBoxed}">
  
  <settings-pane></settings-pane>

  <horizontal-menu ng-if="layoutOptions.horizontalMenu.isVisible"></horizontal-menu>

  <div class="page-container" ui-view></div>

  @RenderBody()

  <!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
  <div class="page-loading-overlay">
    <div class="loader-2"></div>
  </div>

  <!-- Bottom Scripts -->
  <script src="~/template/resources/thirdparty/angular/angular.js"></script>
  <script src="~/template/resources/thirdparty/angular-ui/angular-ui-router.js"></script>
  <script src="~/template/resources/thirdparty/angular-ui/ui-bootstrap-tpls-0.13.0.js"></script>
  <script src="~/template/resources/thirdparty/angular/angular-cookies.js"></script>
  <script src="~/template/resources/thirdparty/oc-lazyload/ocLazyLoad.js"></script>
  <script src="~/template/resources/thirdparty/angular-fullscreen/angular-fullscreen.js"></script>
  <script src="~/template/resources/thirdparty/greensock-js/TweenMax.min.js"></script>
  <script src="~/template/resources/js/template-joinable.js"></script>
  <script src="~/template/resources/js/template-resizeable.js"></script>
  <script src="~/template/resources/js/template-custom.js"></script>

</body>
</html>

