﻿@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
  Layout = null;
}

<footer class="main-footer sticky footer-type-1">
  <div class="footer-inner">
    <div class="footer-text">
      &copy; 2015 <strong>Marcus Portmann</strong>
    </div>
    <div class="go-up">
      <a href="#" rel="go-top"><i class="fa-angle-up"></i></a>
    </div>
  </div>
</footer>
