﻿@using System.Web.Mvc.Html
@using MMP.Application.Mvc.Template
@inherits MMP.Application.Mvc.WebPage

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.PageTitle</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link href="~/bundles/template/css/template-fonts" rel="StyleSheet" type="text/css" />
  <link href="~/bundles/template/css/template" rel="StyleSheet" type="text/css" />
  <link href="~/bundles/template/css/template-thirdparty" rel="StyleSheet" type="text/css" />
  <script src="~/bundles/template/js/template-thirdparty"></script>
  <script src="~/bundles/template/js/template"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="page-body">

  <nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal">
    <!-- set fixed position by adding class "navbar-fixed-top" -->

    <div class="navbar-inner">

      <!-- Navbar Brand -->
      <div class="navbar-brand">
        <a href="dashboard-1.html" class="logo">
          <img src="~/resources/images/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs" />
          <img src="~/resources/images/logo@2x.png" width="80" alt="" class="visible-xs" />
        </a>
        <a href="#" data-toggle="settings-pane" data-animate="true">
          <i class="linecons-cog"></i>
        </a>
      </div>

      <!-- Mobile Toggles Links -->
      <div class="nav navbar-mobile">

        <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
        <div class="mobile-menu-toggle">
          <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
          <a href="#" data-toggle="settings-pane" data-animate="true">
            <i class="linecons-cog"></i>
          </a>

          <a href="#" data-toggle="user-info-menu-horizontal">
            <i class="fa-bell-o"></i>
            <span class="badge badge-success">7</span>
          </a>

          <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
          <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
          <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
          <a href="#" data-toggle="mobile-menu-horizontal">
            <i class="fa-bars"></i>
          </a>
        </div>

      </div>

      <div class="navbar-mobile-clear"></div>

      <!-- main menu -->

      <ul class="navbar-nav">
        @Html.GenerateMainMenuHtml()
      </ul>


      <!-- notifications and other links -->
      <ul class="nav nav-userinfo navbar-right">

        <li class="dropdown xs-left">
          <a href="#" data-toggle="dropdown" class="notification-icon">
            <i class="fa-envelope-o"></i>
            <span class="badge badge-green">15</span>
          </a>

          <ul class="dropdown-menu messages">
            <li>

              <ul class="dropdown-menu-list list-unstyled ps-scrollbar">

                <li class="active">
                  <!-- "active" class means message is unread -->
                  <a href="#">
                    <span class="line">
                      <strong>Luc Chartier</strong>
                      <span class="light small">- yesterday</span>
                    </span>

                    <span class="line desc small">
                      This ain’t our first item, it is the best of the rest.
                    </span>
                  </a>
                </li>

                <li class="active">
                  <a href="#">
                    <span class="line">
                      <strong>Salma Nyberg</strong>
                      <span class="light small">- 2 days ago</span>
                    </span>

                    <span class="line desc small">
                      Oh he decisively impression attachment friendship so if everything.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Hayden Cartwright
                      <span class="light small">- a week ago</span>
                    </span>

                    <span class="line desc small">
                      Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Sandra Eberhardt
                      <span class="light small">- 16 days ago</span>
                    </span>

                    <span class="line desc small">
                      On so attention necessary at by provision otherwise existence direction.
                    </span>
                  </a>
                </li>

                <!-- Repeated -->

                <li class="active">
                  <!-- "active" class means message is unread -->
                  <a href="#">
                    <span class="line">
                      <strong>Luc Chartier</strong>
                      <span class="light small">- yesterday</span>
                    </span>

                    <span class="line desc small">
                      This ain’t our first item, it is the best of the rest.
                    </span>
                  </a>
                </li>

                <li class="active">
                  <a href="#">
                    <span class="line">
                      <strong>Salma Nyberg</strong>
                      <span class="light small">- 2 days ago</span>
                    </span>

                    <span class="line desc small">
                      Oh he decisively impression attachment friendship so if everything.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Hayden Cartwright
                      <span class="light small">- a week ago</span>
                    </span>

                    <span class="line desc small">
                      Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Sandra Eberhardt
                      <span class="light small">- 16 days ago</span>
                    </span>

                    <span class="line desc small">
                      On so attention necessary at by provision otherwise existence direction.
                    </span>
                  </a>
                </li>

              </ul>

            </li>

            <li class="external">
              <a href="mailbox-main.html">
                <span>All Messages</span>
                <i class="fa-link-ext"></i>
              </a>
            </li>
          </ul>

        </li>

        <li class="dropdown xs-left">
          <a href="#" data-toggle="dropdown" class="notification-icon notification-icon-messages">
            <i class="fa-bell-o"></i>
            <span class="badge badge-purple">7</span>
          </a>

          <ul class="dropdown-menu notifications">
            <li class="top">
              <p class="small">
                <a href="#" class="pull-right">Mark all Read</a>
                You have <strong>3</strong> new notifications.
              </p>
            </li>

            <li>
              <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                <li class="active notification-success">
                  <a href="#">
                    <i class="fa-user"></i>

                    <span class="line">
                      <strong>New user registered</strong>
                    </span>

                    <span class="line small time">
                      30 seconds ago
                    </span>
                  </a>
                </li>

                <li class="active notification-secondary">
                  <a href="#">
                    <i class="fa-lock"></i>

                    <span class="line">
                      <strong>Privacy settings have been changed</strong>
                    </span>

                    <span class="line small time">
                      3 hours ago
                    </span>
                  </a>
                </li>

                <li class="notification-primary">
                  <a href="#">
                    <i class="fa-thumbs-up"></i>

                    <span class="line">
                      <strong>Someone special liked this</strong>
                    </span>

                    <span class="line small time">
                      2 minutes ago
                    </span>
                  </a>
                </li>

                <li class="notification-danger">
                  <a href="#">
                    <i class="fa-calendar"></i>

                    <span class="line">
                      John cancelled the event
                    </span>

                    <span class="line small time">
                      9 hours ago
                    </span>
                  </a>
                </li>

                <li class="notification-info">
                  <a href="#">
                    <i class="fa-database"></i>

                    <span class="line">
                      The server is status is stable
                    </span>

                    <span class="line small time">
                      yesterday at 10:30am
                    </span>
                  </a>
                </li>

                <li class="notification-warning">
                  <a href="#">
                    <i class="fa-envelope-o"></i>

                    <span class="line">
                      New comments waiting approval
                    </span>

                    <span class="line small time">
                      last week
                    </span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="external">
              <a href="#">
                <span>View all notifications</span>
                <i class="fa-link-ext"></i>
              </a>
            </li>
          </ul>
        </li>

        @Html.Partial("~/Template/Views/_UserProfileDropdown.cshtml")

      </ul>

    </div>

  </nav>

  <div class="page-container">
    <div class="main-content">

      @Html.Partial("~/Template/Views/_PageHeader.cshtml")

      @RenderBody()

      @Html.Partial("~/Template/Views/_Footer.cshtml")

    </div>
  </div>
</body>
</html>