﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>[Page Title]</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link href="~/bundles/template/css/template-fonts" rel="StyleSheet" type="text/css" />
  <link href="~/bundles/template/css/template" rel="StyleSheet" type="text/css" />
  <link href="~/bundles/template/css/template-thirdparty" rel="StyleSheet" type="text/css" />
  <script src="~/bundles/template/js/template-thirdparty"></script>
  <script src="~/bundles/template/js/template"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="page-body">

  <nav class="navbar horizontal-menu navbar-fixed-top">
    <!-- set fixed position by adding class "navbar-fixed-top" -->

    <div class="navbar-inner">

      <!-- Navbar Brand -->
      <div class="navbar-brand">
        <a href="dashboard-1.html" class="logo">
          <img src="~/resources/images/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs" />
          <img src="~/resources/images/logo@2x.png" width="80" alt="" class="visible-xs" />
        </a>
      </div>

      <!-- Mobile Toggles Links -->
      <div class="nav navbar-mobile">

        <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
        <div class="mobile-menu-toggle">

          <a href="#" data-toggle="user-info-menu-horizontal">
            <i class="fa-bell-o"></i>
            <span class="badge badge-success">7</span>
          </a>

          <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
          <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
          <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
          <a href="#" data-toggle="mobile-menu-horizontal">
            <i class="fa-bars"></i>
          </a>
        </div>

      </div>

      <div class="navbar-mobile-clear"></div>



      <!-- main menu -->

    <ul class="navbar-nav">
      @Html.GenerateMainMenuHtml()
    </ul>


      <!-- notifications and other links -->
      <ul class="nav nav-userinfo navbar-right">

        <li class="search-form">
          <!-- You can add "always-visible" to show make the search input visible -->

          <form method="get" action="extra-search.html">
            <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

            <button type="submit" class="btn btn-link">
              <i class="linecons-search"></i>
            </button>
          </form>

        </li>

        <li class="dropdown xs-left">
          <a href="#" data-toggle="dropdown" class="notification-icon">
            <i class="fa-envelope-o"></i>
            <span class="badge badge-green">15</span>
          </a>

          <ul class="dropdown-menu messages">
            <li>

              <ul class="dropdown-menu-list list-unstyled ps-scrollbar">

                <li class="active">
                  <!-- "active" class means message is unread -->
                  <a href="#">
                    <span class="line">
                      <strong>Luc Chartier</strong>
                      <span class="light small">- yesterday</span>
                    </span>

                    <span class="line desc small">
                      This ain’t our first item, it is the best of the rest.
                    </span>
                  </a>
                </li>

                <li class="active">
                  <a href="#">
                    <span class="line">
                      <strong>Salma Nyberg</strong>
                      <span class="light small">- 2 days ago</span>
                    </span>

                    <span class="line desc small">
                      Oh he decisively impression attachment friendship so if everything.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Hayden Cartwright
                      <span class="light small">- a week ago</span>
                    </span>

                    <span class="line desc small">
                      Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Sandra Eberhardt
                      <span class="light small">- 16 days ago</span>
                    </span>

                    <span class="line desc small">
                      On so attention necessary at by provision otherwise existence direction.
                    </span>
                  </a>
                </li>

                <!-- Repeated -->

                <li class="active">
                  <!-- "active" class means message is unread -->
                  <a href="#">
                    <span class="line">
                      <strong>Luc Chartier</strong>
                      <span class="light small">- yesterday</span>
                    </span>

                    <span class="line desc small">
                      This ain’t our first item, it is the best of the rest.
                    </span>
                  </a>
                </li>

                <li class="active">
                  <a href="#">
                    <span class="line">
                      <strong>Salma Nyberg</strong>
                      <span class="light small">- 2 days ago</span>
                    </span>

                    <span class="line desc small">
                      Oh he decisively impression attachment friendship so if everything.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Hayden Cartwright
                      <span class="light small">- a week ago</span>
                    </span>

                    <span class="line desc small">
                      Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                    </span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="line">
                      Sandra Eberhardt
                      <span class="light small">- 16 days ago</span>
                    </span>

                    <span class="line desc small">
                      On so attention necessary at by provision otherwise existence direction.
                    </span>
                  </a>
                </li>

              </ul>

            </li>

            <li class="external">
              <a href="mailbox-main.html">
                <span>All Messages</span>
                <i class="fa-link-ext"></i>
              </a>
            </li>
          </ul>

        </li>

        <li class="dropdown xs-left">
          <a href="#" data-toggle="dropdown" class="notification-icon notification-icon-messages">
            <i class="fa-bell-o"></i>
            <span class="badge badge-purple">7</span>
          </a>

          <ul class="dropdown-menu notifications">
            <li class="top">
              <p class="small">
                <a href="#" class="pull-right">Mark all Read</a>
                You have <strong>3</strong> new notifications.
              </p>
            </li>

            <li>
              <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                <li class="active notification-success">
                  <a href="#">
                    <i class="fa-user"></i>

                    <span class="line">
                      <strong>New user registered</strong>
                    </span>

                    <span class="line small time">
                      30 seconds ago
                    </span>
                  </a>
                </li>

                <li class="active notification-secondary">
                  <a href="#">
                    <i class="fa-lock"></i>

                    <span class="line">
                      <strong>Privacy settings have been changed</strong>
                    </span>

                    <span class="line small time">
                      3 hours ago
                    </span>
                  </a>
                </li>

                <li class="notification-primary">
                  <a href="#">
                    <i class="fa-thumbs-up"></i>

                    <span class="line">
                      <strong>Someone special liked this</strong>
                    </span>

                    <span class="line small time">
                      2 minutes ago
                    </span>
                  </a>
                </li>

                <li class="notification-danger">
                  <a href="#">
                    <i class="fa-calendar"></i>

                    <span class="line">
                      John cancelled the event
                    </span>

                    <span class="line small time">
                      9 hours ago
                    </span>
                  </a>
                </li>

                <li class="notification-info">
                  <a href="#">
                    <i class="fa-database"></i>

                    <span class="line">
                      The server is status is stable
                    </span>

                    <span class="line small time">
                      yesterday at 10:30am
                    </span>
                  </a>
                </li>

                <li class="notification-warning">
                  <a href="#">
                    <i class="fa-envelope-o"></i>

                    <span class="line">
                      New comments waiting approval
                    </span>

                    <span class="line small time">
                      last week
                    </span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="external">
              <a href="#">
                <span>View all notifications</span>
                <i class="fa-link-ext"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown user-profile">
          <a href="#" data-toggle="dropdown">
            <img src="~/template/resources/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
            <span>
              Arlind Nushi
              <i class="fa-angle-down"></i>
            </span>
          </a>

          <ul class="dropdown-menu user-profile-menu list-unstyled">
            <li>
              <a href="#edit-profile">
                <i class="fa-edit"></i>
                New Post
              </a>
            </li>
            <li>
              <a href="#settings">
                <i class="fa-wrench"></i>
                Settings
              </a>
            </li>
            <li>
              <a href="#profile">
                <i class="fa-user"></i>
                Profile
              </a>
            </li>
            <li>
              <a href="#help">
                <i class="fa-info"></i>
                Help
              </a>
            </li>
            <li class="last">
              <a href="extra-lockscreen.html">
                <i class="fa-lock"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>


      </ul>

    </div>

  </nav>

  <div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="main-content">

      @Html.Partial("~/Template/Views/_PageHeader.cshtml")

      @RenderBody()


      <!-- Main Footer -->
      <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
      <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
      <!-- Or class "fixed" to  always fix the footer to the end of page -->
      <footer class="main-footer sticky footer-type-1">

        <div class="footer-inner">

          <!-- Add your copyright text here -->
          <div class="footer-text">
            &copy; 2015
            <strong>Marcus Portmann</strong>
          </div>


          <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
          <div class="go-up">

            <a href="#" rel="go-top">
              <i class="fa-angle-up"></i>
            </a>

          </div>

        </div>

      </footer>
    </div>

  </div>

</body>
</html>