﻿@inherits MMP.Application.Mvc.WebPage

<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
  <meta charset="utf-8"/>
  <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

  <link href="~/Template/Content/CSS/bootstrap.min.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/clip-font.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/fontawesome-font.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/template.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/template-responsive.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/perfect-scrollbar.min.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/template-black-and-white-theme.css" rel="StyleSheet" type="text/css"/>
  <link href="~/Template/Content/CSS/select2.css" rel="StyleSheet" type="text/css"/>

  <script src="~/Template/Scripts/jquery.min.js"></script>
  <script src="~/Template/Scripts/jquery-ui.min.js"></script>

  <script src="~/Template/Scripts/bootstrap.min.js"></script>
  <script src="~/Template/Scripts/bootstrap-hover-dropdown.min.js"></script>
  <script src="~/Template/Scripts/perfect-scrollbar-with-mousewheel.min.js"></script>

  <script src="~/Template/Scripts/select2.min.js"></script>

  <script src="~/Template/Scripts/less.min.js"></script>
  <script src="~/Template/Scripts/template.js"></script>

  <script>
    jQuery(document).ready(function() {
      InitialiseTemplate.init();

      $('.forgot').bind('click', function () {
        $('.box-login').hide(); $('.box-forgot').show(); $('.alerts').html(''); });
      $('.go-back').click(function () {
        $('.box-login').show(); $('.box-forgot').hide(); $('.alerts').html(''); });

    });
  </script>


  <title wicket:id="pageTitle">[Page Title]</title>
</head>
<body class="login">
<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
  <div class="logo"><span class="navbar-logo"></span></div>

  <div wicket:id="alerts" id="alerts"></div>

  @RenderBody()

</div>
</body>
</html>