﻿@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
  Layout = null;
}

<div class="page-title">
  <div class="title-env">
    <h1 class="title">@ViewBag.PageTitle</h1>
    <p class="description">@ViewBag.PageDescription</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>Level 1</li>
      <li>Level 2</li>
      <li class="active"><strong>[Page Title]</strong></li>
    </ol>
  </div>
</div>

