﻿@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
  Layout = null;
}

<li class="dropdown user-profile">
  <a href="#" data-toggle="dropdown">
    <img src="~/template/resources/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
    <span>
      Arlind Nushi
      <i class="fa-angle-down"></i>
    </span>
  </a>

  <ul class="dropdown-menu user-profile-menu list-unstyled">
    <li>
      <a href="#settings">
        <i class="fa-wrench"></i>
        Settings
      </a>
    </li>
    <li>
      <a href="#profile">
        <i class="fa-user"></i>
        Profile
      </a>
    </li>
    <li>
      <a href="#help">
        <i class="fa-info"></i>
        Help
      </a>
    </li>
    <li class="last">
      <a href="extra-lockscreen.html">
        <i class="fa-lock"></i>
        Logout
      </a>
    </li>
  </ul>
</li>
