﻿@inherits System.Web.Mvc.WebViewPage

@{
  Layout = "~/Template/Views/_TemplateLoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>

  <div class="box-login">
    <h3>Login</h3>
    <p>
      Please enter your name and password to log in.
    </p>

    <form wicket:id="loginForm" class="form-login">

      <fieldset>
        <div class="form-group">
          <span class="input-icon">
            <input wicket:id="username" type="text" class="form-control" name="username" placeholder="Username">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <div class="form-group form-actions">
          <span class="input-icon">
            <input wicket:id="password" type="password" class="form-control password" name="password" placeholder="Password">
            <i class="fa fa-lock"></i>
            <a class="forgot" href="#">I forgot my password</a>
          </span>
        </div>
        <div class="form-actions">
          <button wicket:id="loginButton" type="submit" class="btn btn-primary pull-right">
            Login <i class="fa fa-arrow-circle-right"></i>
          </button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="box-forgot">
    <h3>Forget Password?</h3>
    <p>
      Enter your e-mail address below to reset your password.
    </p>

    <form wicket:id="forgotForm" class="form-forgot">

      <fieldset>
        <div class="form-group">
          <span class="input-icon">
            <input type="email" class="form-control" name="email" placeholder="Email">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div class="form-actions">
          <a class="btn btn-light-grey go-back"><i class="fa fa-circle-arrow-left"></i> Back</a>
          <button wicket:id="submitButton" type="submit" class="btn btn-bricky pull-right">
            Submit <i class="fa fa-arrow-circle-right"></i>
          </button>
        </div>
      </fieldset>
    </form>
  </div>


</body>
</html>
