﻿@{
  Layout = "~/Template/Views/_TemplateLayout.cshtml";
}


<!-- Application Scripts -->
<!--
<script src="~/resources/js/app.js"></script>
<script src="~/resources/js/controllers.js"></script>
<script src="~/resources/js/directives.js"></script>
<script src="~/resources/js/factory.js"></script>
<script src="~/resources/js/services.js"></script>
-->
