

	<page-title ng-if="layoutOptions.pageTitles" title="Navbars" description="Navbars and their types"></page-title>


<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa-bars"></i>
		</button>
		<a class="navbar-brand" href="">Navbar</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="">Link</a>
			</li>
			<li class="disabled">
				<a href="">Link</a>
			</li>
			<li class="dropdown" dropdown>
				<a href="" class="dropdown-toggle" dropdown-toggle>Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu" dropdown-menu>
					<li>
						<a href="">Action</a>
					</li>
					<li>
						<a href="">Another action</a>
					</li>
					<li>
						<a href="">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">Separated link</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">One more separated link</a>
					</li>
				</ul>
			</li>
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-white">Submit</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="">Link</a>
			</li>
			<li class="dropdown" dropdown>
				<a href="" class="dropdown-toggle" dropdown-toggle>Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu" dropdown-menu>
					<li>
						<a href="">Action</a>
					</li>
					<li>
						<a href="">Another action</a>
					</li>
					<li>
						<a href="">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">Separated link</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>

<nav class="navbar navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa-bars"></i>
		</button>
		<a class="navbar-brand" href="">Navbar</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="">Link</a>
			</li>
			<li>
				<a href="">Link</a>
			</li>
			<li class="dropdown" dropdown>
				<a href="" class="dropdown-toggle" dropdown-toggle>Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-primary" dropdown-menu>
					<li>
						<a href="">Action</a>
					</li>
					<li>
						<a href="">Another action</a>
					</li>
					<li>
						<a href="">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">Separated link</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">One more separated link</a>
					</li>
				</ul>
			</li>
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-white">Submit</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="">Link</a>
			</li>
			<li class="dropdown" dropdown>
				<a href="" class="dropdown-toggle" dropdown-toggle>Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-primary" dropdown-menu>
					<li>
						<a href="">Action</a>
					</li>
					<li>
						<a href="">Another action</a>
					</li>
					<li>
						<a href="">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="">Separated link</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>